<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="3cbb387d-1488-4859-ac84-9e7536161f89" Publisher="CN=Gautam.Bhatnagar" Version="1.1.0.0" />
  <Properties>
    <DisplayName>TheBoyKnowsClass.Hue.UI.WindowsStore</DisplayName>
    <PublisherDisplayName>Gautam.Bhatnagar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TheBoyKnowsClass.Hue.UI.WindowsStore.App">
      <m2:VisualElements DisplayName="TheBoyKnowsClass.Hue.UI.WindowsStore" Description="TheBoyKnowsClass.Hue.UI.WindowsStore" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>